doctype html
html(ng-app="ANGULAR_APP_NAME")
  head
    block title_blck
      title()
        | Default Title


    //link(type="text/css", rel="stylesheet", href="/css/styles.min.css")
    block additional_styles


  block content_blck   
    
  block scripts
    //script(type="text/javascript", src="/js/vendor/vendor.min.js")
    script(type="text/javascript", src="/js/app/app-whole.min.js")
