doctype html
html(ng-app="ANGULAR_APP_NAME")
  head
    block title_blck
      title()
        | Default Title


    //-<!-- build:css(public/) /css/styles.min.css -->
    //link(type="text/css", rel="stylesheet", href="/css/SOME_CSS.css")
    //-<!-- endbuild -->
    block additional_styles


  block content_blck   
    
  block scripts
    //-<!-- build:js(public/) /js/vendor/vendor.min.js -->
    //script(type="text/javascript", src="/js/vendor/SOME_JS_FROM_SOME_VENDOR.js")
    //-<!-- endbuild -->
    script(type="text/javascript", src="/js/app/app-whole.min.js")
